*
{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #4e0000, #8b0008);
    padding: 0 !important;
}

.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: aliceblue !important;
    font-weight: 600;
    text-align: right;
}

.navbar-toggler{
    outline: none !important;
}

.fa-bars{
    color: aliceblue;
    font-size: 30px !important;
}

/* banner section */
#banner{
    background-image: linear-gradient(to right, #4e0000, #8b0008);
    color: aliceblue;
    padding-top: 5%;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer section */
#footer{
    background: #350202;
    color: aliceblue;
    border-top: 2px solid #8B0000;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.text-center {
    text-align: center !important;
}


